<div class="container">
	<h1 class="lunchbox text-center">Really Good Coffee<span class="l-ornaments">Y</span></h1>
	<div class="col-md-4">
		<div class="content-block">
			<span class="blend-picture">
				<img src="" alt="" width="80" height="78">
			</span>
			<h4>Lorem ipsum elit</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quidem ullam commodi. Earum, omnis, voluptates pariatur sit et sequi vel.</p>
		</div>
	</div>
	<pre>{{top3| json}}</pre>
	<pre>{{reviewCount | json}}</pre>
</div>
