<div class="container">
	<h3 class="lunchbox">Our Blends!<span class="l-ornaments">Y</span></h3>

	<ul class="grid cs-style-3">
		<li ng-repeat="blend in reviewCount">
			<figure>
				<img src="img/blends/1.png" alt="">
				<figcaption>
					<h3 class="text-center">{{blend.name}}</h3>
					<span>{{blend.description}}</span>
					<a class="lunchbox" href="">See the reviews!</a>
				</figcaption>
			</figure>
		</li>
	</ul>

<!-- 
	<div class="col-md-4" ng-repeat="blend in reviewCount">
		<div class="content-block">
			<span class="blend-picture">
				<img ng-src="{{blend.picture}}" alt="">
			</span>
			<h4>{{blend.name}}</h4>
			<p>{{blend.description}}</p>
		</div>
	</div> -->
<!-- 	<pre>{{top3| json}}</pre>
	<pre>{{reviewCount | json}}</pre> -->
</div>
